@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');


/* Dropdown buttons bar (filter-bar) container */
.filter-bar {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/buildings.png'); 
	background-position: bottom;
	position: relative;
	width: 100%;
	height: 25vh;
	overflow: hidden;
}
/* Links inside the filter-bar */
.filter-bar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid rgb(0, 214, 170);
}
/* The dropdown container */
.dropdown {
	float: left;
	overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
	border-color:rgb(0, 214, 170);
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	cursor: pointer;
	font-size: 16px;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}
/* Add a teal background color to filter-bar links on hover */
.filter-bar a:hover, .dropdown:hover .dropbtn:hover{
	background-color: rgba(0, 214, 170, 0.5);
}
/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	/* min-width: 125.5px; */
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
} 
/* Links inside the dropdown */
.dropdown-content .btn-group .button{
	background-color: #333;
	border-color:rgb(0, 214, 170);
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}
.btn-group .button:not(:last-child) {
		border-right: none; /* Prevent double borders */
}	  
.btn-group .button:hover {
		background-color: rgba(0, 214, 170, 0.5);
} 
/* Add a background color to dropdown links on hover */
	.dropdown-content btn-group:hover {
	background-color:rgba(0, 214, 170, 0.5);
}
.show {
	display: contents;
}
/*End filter bar*/


/*Start main results container*/
.content-container {
	position: relative;
	margin: 0;
	width: 100%;
	height: 110vh;
	padding: 0 0.5vw;
}

/*General styling of child containers: one column for interactive map, two for results*/
.content-child {
	margin: 0 auto;
	float: left;
	width: 50%;
	max-width:50%;
	max-height: 90%;
	position: relative;
	padding: 0 0.5vw;
}

/*Styling for interactive map*/
#map.content-child{
	height:100%;
}
.map-image {
	height:100%;
	background-image: url("../images/dummymap.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

/*Styling for results display grid*/
#results.content-child {
	--auto-grid-min-size: 48%;
  
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
	grid-gap: 1rem;
	overflow: hidden;
	height:100%;
  }
.content-grandchild {
	background-color: #e8e8e8c9;
	font-size:1.15vw;
	margin: 0;
	padding: 5px;
}

/*Create a container for the listing image*/
.result-top-image-container {
	background-color: hotpink;
	height: 40%;
	max-width: 100%;
}
.result-top-image{
	height:100%;
	width:100%;
	background-image: url("../images/house.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.mls-number {
	font-weight: bolder;
	margin-top: 1%;
	background-color: rgb(0, 214, 170);
	color: black;
	padding: 1.75%;
}

.result-description {
	padding: 0.5vh 0.5vw;
	margin: 0;
	max-height: 50%;
	max-width:100%;
	overflow: hidden;
}
.result-description > .address{
	font-weight:bolder;
	padding: 1vh 0;
}

.check-button{
	text-align:center;
	padding: 1em;
}

input[type=submit]{
	font-size: inherit;
	background-color: rgb(0, 214, 170);
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	width: 60%;
}

input[type=submit]:hover{
	background-color: #005c5c;
}

/*Hover behaviour*/
.map-image:hover, .content-grandchild:hover{
	transform: scale(0.99);
	border-radius: 5px;
	box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 3px rgba(0, 0, 0, 0.048),
    0 8px 5px rgba(0, 0, 0, 0.06),
    0 12.3px 9px rgba(0, 0, 0, 0.072),
    0 12.8px 15px rgba(0, 0, 0, 0.086),
    0 50px 40px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 800px) {
	.content-container {
		max-height:80vh;
	}
	#map.content-child {
		min-width:100%;
		max-height: 40%;
		padding-bottom: 0.25rem;
	}
	.content-child {
		min-width:100%;
		max-height:60%;
	}

	#results.content-child {
		grid-gap: 0.25rem;
}
